

.bill_info {
    border: 3px solid black;
    align-items: center;
    align-content: center;
    padding: 15px;
    margin: 20px;
}

.bill_tab{
    margin: 0px auto;
}
td{
    text-align: center;
    padding: 5px;
}
th{
    padding: 10px;
}
